Description: TimeshiftCockpit
Maintainer: xcentaurix
Package: enigma2-plugin-extensions-timeshiftcockpit
Version: 0.2.30
Architecture: all
Conflicts: enigma2-plugin-extensions-permanenttimeshift
Depends: enigma2-plugin-systemplugins-powercockpit, enigma2-plugin-skincomponents-cockpit, enigma2-plugin-systemplugins-covercockpit, enigma2-plugin-systemplugins-jobcockpit
